body {
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*SECTION 1*/

*,
*:before,
*:after {
    box-sizing: border-box;
    /*    box-sizing: inherit;*/
    margin: 0;
    padding: 0;
}

#sec1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a36;
}

.container {
    width: 50rem;
    height: 20rem;
    position: relative;
}

.svg-container {
    z-index: 2;
    position: absolute;
}

.mo-container {
    width: 100%;
    height: 100%;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.lttr {
    fill: #a5b9c7;
}


/*SECTION 2*/
#sec2 {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.panel {
    flex: 1;
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url(img/1.png);
}

.panel2 {
    background-image: url(img/2.png);
}

.panel3 {
    background-image: url(img/5.1.jpg);
}

.panel4 {
    background-image: url(img/4.jpg);
}

.panel5 {
    background-image: url(img/3.png);
}

/* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    /*font-size: 40px;*/
    /*if we want to add transitions like this font-size (multiple transitions to one object), so use js in comments for toggleActive function*/
    flex: 3;
}
